body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    border: 1px solid #000;
    margin: 10px;
}

.desktop, .tablet, .mobile {
    border: 1px solid #000;
    margin: 10px;
}

.desktop {
    float: left;
    width: 32.0%;
    box-sizing: border-box;
}

.tablet {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.mobile {
    width: 100%;
    box-sizing: border-box;
}

.section-title {
    background-color: #ffcc00; /* Choose your color */
    color: #000; /* Adjust text color for readability */
    border: 1px solid #000;
    padding: 5px;
    text-align: right;
}

/* Add media queries for tablet and mobile views */
@media only screen and (max-width: 991px) {
    .desktop {
        width: 50%;
    }

    .tablet {
        width: 50%;
    }

    .tablet:nth-child(3) {
        clear: both;
    }

    .mobile {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .desktop, .tablet {
        width: 100%;
        clear: both;
    }

    .mobile {
        width: 100%;
    }
}
